/* --------------------VARIABLES----------- */
:root {
    --bg-colour: #162831;
    --font-colour: #ffffff;
    --accent-colour: #018ABE;
}
/* --------------------RESSET STYLES---------- */


/* --------------------UTILIIT STYLES----------- */


/* --------------------HEADER--------- */
/* --------------------HERO------ */
/* --------------------SESSIONS------------ */
/* --------------------REVIEWS------------- */
/* --------------------ABOUT US---------------- */
/* --------------------PRICES------------------ */
/* --------------------CONTACTS-------------- */

/* --------------------FOOTER------------ */


